<div class="sidebar-container">

    <button class="menu-toggle" onclick="toggleMenu()">
        ☰
    </button>

    <div class="sidebar" id="sidebar">

        <h3>Admin Menu</h3>

        <a asp-controller="Admin"
           asp-action="Dashboard">

            <i class="bi bi-speedometer2"></i>
            Dashboard

        </a>

        <a asp-controller="Admin"
           asp-action="ManageLandlords">

            <i class="bi bi-people-fill"></i>
            Manage Landlords

        </a>

        <a asp-controller="Admin"
           asp-action="Dashboard">

            <i class="bi bi-file-earmark-text-fill"></i>
            Manage Applications

        </a>

        <a asp-controller="Admin"
           asp-action="Profile">

            <i class="bi bi-person-circle"></i>
            Update Profile

        </a>

    </div>

</div>

<script>

    function toggleMenu()
    {
        var sidebar = document.getElementById("sidebar");

        sidebar.classList.toggle("show");
    }

</script>